/* ==========================
  BASE STYLING
  ========================== */
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: white; 
}



p {
  text-align: center;
}

/* ==========================
  HEADER STYLING
  ========================== */

header {
  background: #F8F8F8;
  margin: 0;
}

header p {
  text-align: center;
  padding-bottom: 
}

ul {
  list-style-type: none;
}

li {
  width: 100%;
  
}

.main-nav {
  width: 100%;
  
}



.self-photo {
 border: transparent;
 border-radius: 50%;
}

.main-nav a {
  display: block;
  text-align: center;
  padding: .5em;
  color: #797e83;
  font-size: 1.125em;
  background-color: white;
  margin: .2em;
}

.nav a:hover {
  color: #52bab3;
  
}

.main-header,
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0em;
  padding: 0em;
}

.main-header img {
  align-self: center;
}




/* =========================
  PORTFOLIO STYLING
  =========================== */
.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E0F0FA ;
  margin: 0;
  
}
.portfolio-wrapper h2{
  text-align: center;
  PADDING-TOP: 1em;
}
.portfolio-wrapper h3 {
  text-align: center;
}

.portfolio-wrapper img {
  width: 100%;
}

/* =========================
 CONTACT STYLING
  =========================== */
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
}

.nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper h2 {
  text-align: center;
}

.color-text {
  color: blueviolet;
}




   /* ========================
    FOOTER STYLING
    ======================= */
footer, #contact {
  background: #F8F8F8;
}
.footer-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

/* ========================
    MEDIA QUERIES
======================= */

/* Tablet */
@media (min-width: 768px) {
  /* HEADER STYLING */
  h1 {
    text-align: center;
  }

  .nav {
    display: flex;
   flex-direction: row;
    align-items: center;
    margin-left: 0em;
    padding: 0em;
   }

   .nav a {
     background-color: transparent;
   }
  
   
  
    /* PORTFOLIO STYLING */
    .portfolio-wrapper {
      display: block;
    }
  
    .portfolio-wrapper div {
      display: inline-block;
      width: 46.5%;
      padding: 1.5%;
    }

    /* CONTACT STYLING */
    .contact-nav li a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* FOOTER STYLING */
  


}







/* Desktop */
@media (min-width: 1024px) { 
  h1 {
    text-align: center;
  }

  .nav {
    display: flex;
   flex-direction: row;
    margin-left: 0em;
    padding: 0em;
   }

   .nav a {
     background-color: transparent;
   }

   .self-image {
     display: inline-block;
   }
  
   
  
    /* PORTFOLIO STYLING */
    .portfolio-wrapper {
      display: block;
    }
  
    .portfolio-wrapper div {
      display: inline-block;
      width: 30%;
      padding: 1.4%;
    }
}

